
<div class="home-page">
	<h1>Manhattan FiDi Restaurants</h1>
	<hr>
	<%= erb :login %>

	<% if @current_user %>
		<!-- List of restaurants (based on user) -->
		<div class="restaurant-list">
		<h2>List of Restaurants:</h2>
		<% @current_user.ratings.each do |rating| %>
				<ul>
					<li>
						<a href="/restaurant/<%=rating.restaurant.id %>"><%= rating.restaurant.name %></a> <br>
						Past orders: <%= rating.restaurant.order %><br>
						Review: "<%= rating.review %>"<br>
						Rating: <%= rating.rating %>

					</li>
				</ul>
		<% end %>
		</div>
		| <a href="/restaurants/new">Add new restaurant?</a> | 
	<% end %>

	<% if @current_user %>
		<a href="/logout">Logout</a> |
	<% end %>


	<div class="bg-image"><img src="/imgs/home.jpg"></div>
</div>