
<div class="restaurant-page">
	<a href="/"><button class="back-button"><</button></a>
	<h1>Manhattan FiDi Restaurants</h1>
	<hr>

	<a href="<%= @restaurant.website %>" target="_blank"><h1><%= @restaurant.search_name %></h1></a>
	<p><%= @restaurant.address %></p>

	<div id="map"><%= "No record of the restaurant within this radius." unless @restaurant.place_id %></div>

	<table class="reviews-table">
		<tr>	
			<td class="restaurant-info">
				<br>
				<ul>
					<strong>Status: </strong><%= @restaurant.print_open %>
				</ul>
				<ul>
					<strong>Phone Number:</strong><br>
					<li class="open-hours"><%= @restaurant.number %></li>
				</ul>
				<ul class="open-hours">
					<strong>Hours of Operation:</strong>
					<% @restaurant.hours.each do |time| %>
					<li><%= time %></li>
					<% end %>
				</ul> 
				<br><br><br><br><br><br>
			</td>
			<td><br>
					<ul>
						<strong>Reviews:</strong><br>
						<hr>
						<div class="reviews-list">
						<% JSON.parse(@restaurant.reviews).each do |review| %>
						<li class="reviews" style="color: #b51c47;"><%= review["author_name"] %>
								&nbsp;	
							<% review["rating"].to_i.times do %>
							<img width="13px" src="/imgs/star-on-big.png">
							<% end %>
						</li>
						<li class="reviews">&#34;<%= review["text"] %>&#34;</li><br>
						<% end %>
					</ul>
				</div>
			</td>
		</tr>
	</table>

	<div class="bg-image"><img src="/imgs/home.jpg"></div>
</div>

<script>
	function initMap() {
		var options = {
			zoom: 16,
			center: {lat: <%= @restaurant.lat %>, lng: <%= @restaurant.lng %>}
		}

		// Open google maps
		var map = new google.maps.Map(document.getElementById('map'), options);

		// All markers
		var marker = new google.maps.Marker({
			position:{lat: <%= @restaurant.lat %>,lng:<%= @restaurant.lng %>},
			map:map
		});
	}
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDM0L5rzpW0d1E60mX58xQackfn69pOmc&callback=initMap">
</script>

